<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithWebpacker</title>
    <%= csrf_meta_tags %>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDGGhzVWA98mR7ZYK31u_ZgsDOtAS_YIqI&libraries=places"></script>
  
    
  </head>

  <body>
  <div id="map"></div>
    <%= yield %>
    
  </body>
</html>
