// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chatbar-message { border: 0; padding: 10px; width: 80%; margin-right: .5%; }
.chatbar-button { width: 19%; background: rgb(130, 224, 255); border: none; padding: 10px; opacity:0.9; }
.chatbar-form { background: #000; padding: 3px; position: fixed; bottom: 0; width: 35%; }