// Place all the styles related to the trip controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#chartdiv {
  
  width: 100%;
  height: 800px;
  background-color: #ffffff; 
  color: rgb(255, 255, 255) ;
}


.ammapDescriptionWindow {
  font-size:11px;
  font-family:verdana,helvetica,arial,sans-serif;
  background-color:#FFFFFF;
  border-style:solid;
  border-color:#DADADA;
  border-width:1px;
  color:#000000;
  padding:8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.userlistdiv {
  display: flex;
  justify-content: space-around;
  background-color: rgb(12, 90, 163);
}

.userlistdiv>div {
  background-color: #f1f1f1;
  width: 120px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}

.carousel{
  position: relative;
  padding: 10px;
}
/* equal card height */
// .row-equal > div[class*='col-'] {
//   display: flex;
//   flex: 1 0 auto;
// }

// .row-equal .card {
//  width: 100%;
// }

// /* ensure equal card height inside carousel */
// .carousel-inner>.row-equal, 
// .carousel-inner>.row-equal.next, 
// .carousel-inner>.row-equal.prev {
//   display: flex;
// }

// /* prevent flicker during transition */
// .carousel-inner>.row-equal.left, 
// .carousel-inner>.row-equal.right {
//   opacity: 0.5;
//   display: flex;
// }



/* control image height */
.card-img-top-250 {
  width: 100%;
  transition: 0.1s linear;
  background-size: cover;
  background-position: center center;
}




.userlistdiv>span {
  background-color: #f1f1f1;
  width: 120px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  display: block;
}

.userlistdiv>a {
  background-color: #f1f1f1;
  width: 120px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  display: block;
  color: inherit;
  text-decoration: none;
}

.circleBase {
  border-radius: 50%;
}

.type1 {
  width: 75px;
  height: 75px;
  background: #a791b4;
  border: 3px solid  rgb(12, 90, 163);
  margin-left: 16px;
  margin-top: 16px;
}


.restaurantlistdiv {
  display: grid;
  justify-content: center;
  background-color: rgb(12, 90, 163);
}

.restaurantlistdiv>span {
  background-color: #f1f1f1;
  width: 120px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  display: block;
}

#whatever {
  .grid {
    padding: 20px 20px 100px 20px;
    max-width: 1300px;
    margin: 0 auto;
    list-style: none;
    text-align: center;
  }
  
  .grid li {
    display: inline-block;
    width: 440px;
    margin: 0;
    padding: 20px;
    text-align: left;
    position: relative;
  }

  .grid figure {
    margin: 0;
    position: relative;
  }

  .grid figure img {
    max-width: 100%;
    display: block;
    position: relative;
  }

  .grid figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
  }
  
  .grid figcaption h3 {
    margin: 0;
    padding: 0;
    color: #fff;
  }
  
  .grid figcaption span:before {
    content: 'by ';
  }
  
  .grid figcaption a {
    text-align: center;
    padding: 5px 10px;
    border-radius: 2px;
    display: inline-block;
    background: #ed4e6e;
    color: #fff;
  }

  @media screen and (max-width: 31.5em) {
    .grid {
      padding: 10px 10px 100px 10px;
    }
    .grid li {
      width: 100%;
      min-width: 300px;
    }
  }

  figcaption {
    height: 100%;
    width: 100%;
    opacity: 0;
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.3s, opacity 0.3s;
  }

  figure:hover figcaption,
  figure.cs-hover figcaption {
    opacity: 0.8;
    transform: translate(15px, 15px);
  }

  figcaption h3 {
    margin-top: 70px;
  }
  
  figcaption span {
    display: block;
  }
  
  figcaption a {
    margin-top: 30px;
  }


}
  

