<%# <h1>home index</h1> %>


  <%# <div id='main'> %>
    <%#= react_component("Main", prerender: false) %>
    <%# nothing
  </div> %>


  

<div id="testing">


 
 <div class="body">

<%# <div id="snippet--flashMessages"></div> %>
<div id="slider-home" class="container" style="width:100%"> 

<header>
    <div class="navbar navbar-default navbar-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <%# <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button> %>
                <img src="https://cdn.worldvectorlogo.com/logos/react-router.svg" style="height:120px; width:120px;" id="rotatelogo">
                <div href="/"><strong style="font-size:1.5em; color:white">RouteTour</strong></div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left main-switch">
                    <li><a href="/trip/new">Create a New Trip</a></li>
                    <li><a href="/trip/index">Browse All Trips</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right main-switch">
                    
                    <% if user_signed_in? %>
                        <li><a rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a><li>
                    <% else %>
                        <li><a href="/users/sign_up">Join&nbsp;</a></li>
                        <li><a href="/users/sign_in">Log In&nbsp;</a></li>
                    <% end%>
                </ul>
                    
                    <%# <div class="nav navbar-nav navbar-right login-switch form-wrapper header">
                        <div class="toggle-forms toggled">
                            <div class="form-holder">
                                <div class="form-group">
                                    <a class="btn btn-yellow" href="#">Join</a>
                                    <a href="#" class="btn btn-yellow">Log in</a>
                                </div>
                            </div>
                        </div>
                    </div>   %>
                    
            </div>  
        </div>
    </div>
</header>

    <div id="main-text" class="col-lg-8 col-lg-offset-2 col-md-12 col-sm-12 col-xs-12">
        <h1 ><br></br>EXPLORE TOGETHER<br></br><h1>With <em style="color:#1565C0">R</em>oute<em style="color:#1565C0">T</em>our</h1>
    </div>

  <div id="main-slide" class="carousel slide" data-ride="carousel" data-interval="5000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#main-slide" data-slide-to="0" class="active"></li>
      <li data-target="#main-slide" data-slide-to="1"></li>
      <li data-target="#main-slide" data-slide-to="2"></li>
      <li data-target="#main-slide" data-slide-to="3"></li>
      <li data-target="#main-slide" data-slide-to="4"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

      <div class="item active">
        <img className="full-screen" src="/toronto11.jpg" alt="Los Angeles" style="width:100%;height:auto;filter:blur(3px);opacity:0.7">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>

      <div class="item">
        <img className="full-screen" src="/toronto12.jpg" alt="Chicago" style="width:100%;height:auto;filter:blur(3px);opacity:0.7">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
    
      <div class="item">
        <img className="full-screen" src="/toronto13.jpg" alt="New York" style="width:100%;height:auto;filter:blur(3px);opacity:0.7;">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>
  
       <div class="item">
        <img className="full-screen" src="/toronto111.jpg" alt="New York" style="width:100%;height:auto;filter:blur(3px);opacity:0.7;">
        <div class="carousel-caption">
          <h3></h3>
          <p></p>
        </div>
      </div>


        <div class="item">
                <img className="full-screen" src="/toronto222.jpg" alt="New York" style="width:100%;height:auto;filter:blur(3px);opacity:0.7;">
                <div class="carousel-caption">
                <h3></h3>
                <p></p>
                </div>
            </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#main-slide" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#main-slide" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



    <%# <div id="main-slide" class="carousel slide" data-ride="carousel">


         <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item active" data-slide="toronto1.jpeg"></div>
            <div class="item" data-slide="toronto2.jpeg"></div>
            <div class="item" data-slide="toronto3.jpeg"></div>
        </div>
    </div> %>
    <%# <script>var SLIDER_MIN = 600;</script> %>
</div>
<%# <div class="container" style="width:100%">

</div> %>
</div>


</div>


 

<div class="content howitworks">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-holder">
                <p class="text-section">How routetour works</p>
            </div>
                
            <div class="col-sm-4 col-xs-12 text-holder">
                <p class="title">Create a Trip<br></br></p>
                <p class="body">Create a trip and wait for someone to reach out, or find an exciting trip to join!</p>            
            </div>
            
            <div class="col-sm-4 col-xs-12 text-holder">
                <p class="title">Find Someone to Travel With</p>
                <p class="body">Find someone who seems to be the best fit for your trip or connect with travelers all over the world.</p>
            </div>
                
            <div class="col-sm-4 col-xs-12 text-holder">
                <p class="title">Inspiration and Exploration<br></br></p>
                <p class="body">Pack your things and explore together with RouteTour. Keep exploring! </p>
            </div>
                
        </div>
    </div>
</div>     


<div class="content connect">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-holder">
                <p>Connect with us</p>
            </div>
            <div class="col-xs-12 icon-holder" style="font-size:1.5em">
                <a href="https://github.com/d-mclean" target="_blank"><img src="https://image.flaticon.com/icons/svg/23/23957.svg" style="height:30px; weight:30px;">&nbsp;Darcy&nbsp;</a>
                <a href="https://github.com/dishantpatel27" target="_blank"><img src="https://image.flaticon.com/icons/svg/23/23957.svg" style="height:30px; weight:30px;">&nbsp;Dishant</a>
                <a href="https://github.com/zhonghaoliu" target="_blank"><img src="https://image.flaticon.com/icons/svg/23/23957.svg" style="height:30px; weight:30px;">&nbsp;Joshua</a>
            </div>
        </div>
    </div>
</div> 




</div>



</div> 
