<h3>Hello World</h3>
<%#= react_component("HelloWorld", props: @hello_world_props, prerender: false) %>
<h1>DashBoard Main page -- views/hello_world/index.html.erb</h1>
  <div id='whatever'>
    <%= react_component("LandMarks", props: @hello_world_props, prerender: false) %>
  </div>