<h5>dashboard from chat/dashboar.html.erb</h5>
<%#= react_component("HelloWorld", props: @hello_world_props, prerender: false) %>
  <div id='whatever' style="float:right; width: 66.6%">
    <%= react_component("LandMarks", props: @hello_world_props ) %>
  </div>