<h1>dashboard from chat/dashboar.html.erb</h1>
<%#= react_component("HelloWorld", props: @hello_world_props, prerender: false) %>
  <div id='whatever'>
    <%= react_component("LandMarks", props: @hello_world_props, prerender: false) %>
  </div>